@CHARSET "UTF-8";

th {
	background-color: #0082B4;
	color: white;
}

table {
	border-collapse: collapse;
	overflow-x: hidden;
	width: 100%;
}

label {
	font-weight: normal;
}

.highlight {
	background-color: #F5F5F5;
}

/* Adjust slider size and position */
.slider-handle {
	width: 16px;
	height: 16px;
}

.slider.slider-horizontal .slider-handle {
	margin-top: -3px;
}

.slider-handle.min-slider-handle.round {
    margin-left: 0px;
}

/* divs */
div.chart {
	width: 100%;
	height: 300px;
}

div#content {
	max-width: 300px;
}

div#map_div {
	width: 100%;
	height: 300px;
}

div#statsSettingsWrapper {
	height: 90px;
	max-width: 600px;
}

div#settingsWrapper {
 	padding: 3px;
}

div#statsTableWrapper {
	float: left;
	border-right: solid;
	border-width: 1px;
}

div#topTweetsWrapper {
	clear: left;
	max-height: 500px;
	overflow-y: auto;
}

div#topTweetsWrapper div {
	padding: 0px;
}

div#tweetTableWrapper {
	max-height: 250px;
	overflow-y: auto;
	width: 100%; 
}

div#fileTableWrapper {
	overflow-y: auto;
	max-height: 150px; 
}

div#fileUploadContainer {
	margin-top: 15px;
	border-style: solid;
	border-width: 1px;
    border-color: #5281AE;
    border-radius: 3px;
}

div.progress {
	margin-bottom: 0px;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
  	min-width: 100%;
	min-height: 100%;
	font-size: 0px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}