@CHARSET "UTF-8";
/* Table */
table, th, td {
	border: 1px solid #015D80;
}

th {
	height: 35px;
	text-align: left;
	vertical-align: bottom;
	background-color: #0082B4;
	font-size: 1em;
	padding: 5px;
	color: white;
}

td {
	padding: 5px;
}

table {
	border-collapse: collapse;
	overflow-x: hidden;
}

table.fileTable tr:hover {
	background-color: #015D80;
}

table.fileTable { 
	width: 100%;
}

table.tweetTable {
	width: 100%;
}

/* divs */
div.left_container {
	width: 60%;
	float: left;
}

div.map {
	width: 100%;
	height: 300px;
}


div.tweetTableWrapper {
	max-height: 400px;
	overflow-y: auto;
	width: 100%; 
}

div.right_container {
	width: 40%;
	float: right;
}

div.stream_tab_container {
	width: 40%;
}

div.fileTableWrapper {
	overflow-y: auto;
	max-height: 150px; 
}

div.chart {
	width: 100%;
	height: 300px;
}

