@CHARSET "UTF-8";

th {
	background-color: #0082B4;
	color: white;
}

table {
	border-collapse: collapse;
	overflow-x: hidden;
	width: 100%;
}

/* divs */
div.left_container {
	width: 60%;
	float: left;
}

div.map {
	width: 100%;
	height: 300px;
}

div#statsSettingsWrapper {
	height: 90px;
	max-width: 500px;
}

div#settingsWrapper {
 	padding: 3px;
	width: 50%;
	float: right;
}

div#statsTableWrapper {
	float: left;
	width: 50%;
	border-right: solid;
	border-width: 1px;
}

div.tweetTableWrapper {
	max-height: 250px;
	overflow-y: auto;
	width: 100%; 
}

div.topNegTweetsWrapper {
	float: right;
	width: 50%;
	max-height: 400px;
	overflow-y: auto;
}

div.topPosTweetsWrapper {
	float: left;
	width: 50%;
	max-height: 400px;
	overflow-y: auto;
}

div.right_container {
	width: 40%;
	float: right;
}

div.fileTableWrapper {
	overflow-y: auto;
	max-height: 150px; 
}

div.chart {
	width: 100%;
	height: 300px;
}

div#fileUploadContainer {
	margin-top: 15px;
	border-style: solid;
	border-width: 1px;
    border-color: #5281AE;
    border-radius: 3px;
}

input#filterTerms {
	max-width: 300px
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}